/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("/img/hero-gopher.gif");
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fbfbfb;
  background-size: contain;
  color: #000;
  -webkit-filter: invert(var(--hero-background-filter));
  filter: invert(var(--hero-background-filter));
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
